.form
{
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
}
.SearchText
{
  height: 30px;
  width: 80%;
  border-radius: 10px;

}
.boxup
{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap:wrap;
  justify-content: center;
}
.box
{
  width: 50%;
  overflow-y: scroll;
}
.SeachButton
{
  padding: 10px;
  height: 30px;
  width: 20%;
  background-color: blue;
  color: white;
  border-radius: 10px;
}